<div class="">
  <div>
    <%- if controller_name != 'sessions' %>
      <div class="pt-10">
        <%= link_to "Log in", new_session_path(resource_name) %><br />
      </div>
    <% end %>

    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <div class="pt-10">
        <button class="bg-purple-500 text-white p-2 pl-4 pr-4 rounded-xl shadow hover:shadow-lg cursor-pointer">
          <%= link_to "Sign up", new_registration_path(resource_name) %><br />
        </button>
      </div>
    <% end %>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <div class="pt-10">
        <button class="bg-purple-500 text-white p-2 pl-4 pr-4 rounded-xl shadow hover:shadow-lg cursor-pointer">
          <%= link_to "Forgot your password?", new_password_path(resource_name) %>
        </button>  
      </div>
    <% end %>

    <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
      <div class="pt-10">
        <button class="bg-purple-500 text-white p-2 pl-4 pr-4 rounded-xl shadow hover:shadow-lg cursor-pointer">
          <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
        </button>
      </div>
    <% end %>

    <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
      <div class="pt-10">
        <button class="bg-purple-500 text-white p-2 pl-4 pr-4 rounded-xl shadow hover:shadow-lg cursor-pointer">
          <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
        </button>
      </div>
    <% end %>

    <%- if devise_mapping.omniauthable? %>
      <div class="pt-10">
        <%- resource_class.omniauth_providers.each do |provider| %>
          <button class="bg-purple-500 text-white p-2 pl-4 pr-4 rounded-xl shadow hover:shadow-lg cursor-pointer">
            <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), method: :post %>
          </button>
          <p class="pt-8 font-bold">👆  THIS IS THE FEATURE WE'RE HERE TO EXPLORE!</p>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="ml-6 mt-14">
    <p class="mt-2">links for sign_up, forgot your password? and sign in with github come from </p>
    <p class="mt-6">app/views/devise/shared/_links.html.erb</p>
  </div>
</div>  
