<h1>I'm in index.html.erb</h1>

<% if user_signed_in? %>
  <h2>Welcome <%= current_user.email %></h2>
	  <h1>You are logged in! :)</h1>
    <%= link_to "log out", destroy_user_session_path, method: :delete %>
<% else %>
	  <h1>No one is logged in! :(</h1>
    <%= link_to "log in", new_user_session_path %>
<% end %>


<% if current_user %>
  <h3><%= current_user.name %></h3>
  <h3><%= current_user.email %></h3>
  <%= image_tag(current_user.image) unless current_user.image.nil? %>
<% else %>
  <h3>there is no current_user</h3>
<% end %>