    <div class="max-h-full absolute bottom-0 left-0 right-0 max-w-full">
      <nav class="flex flex-row relative border-t pl-10 pr-10 pb-4 max-w-full justify-between">
        <div class="pt-10">
          <div>
            <%= link_to "home", root_path, class: "mr-8 text-purple-500"%>
            <%= link_to "github repo & tutorial", "https://github.com/josh-works/github_authorization_practice" , class: "mr-8 text-purple-500"%>
            <%= link_to "link_3", root_path, class: "mr-8 text-purple-500"%>
            <%= link_to "link_4", root_path, class: "mr-8 text-purple-500"%>
          </div>
        </div>
        <p class="pt-10 pr-48">&copy; Josh Thompson</p>
        <div class="flex flex-row justify-end pt-8 pr-10">
          <%= image_tag("cat.png", size:"50x50", class: "pb-4") %>
          <%= link_to "josh.works", "https://josh.works" , class: "pt-2 pl-8 mr-8 text-purple-500"%> 
        </div>
      </nav>
    </div>
