    <div>
      <nav class="flex flex-row border-b pl-10 pr-10 pt-4 pb-4 max-w-full justify-between">
        <div>
          <p class="text-6xl font-bold">Github Omniauth Tutorial</p>
          <div class="flex mt-6 ml-5 text-lg">
            <%= link_to "home", root_path, class: "mr-8 text-purple-500"%>
            <%= link_to "github repo & tutorial", "https://github.com/josh-works/github_authorization_practice" , class: "mr-8 text-purple-500"%>
            <%= link_to "link_3", root_path, class: "mr-8 text-purple-500"%>
            <%= link_to "link_4", root_path, class: "mr-8 text-purple-500"%>
          </div>
        </div>
        <div class="justify-end pt-10 pr-10">
          <%= image_tag("cat.png", size:"50x50") %> 
        </div>
      </nav>

    </div>

    