<!DOCTYPE html>
<html>
  <head>
    <title>GithubAuthorizationPractice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if current_user %>
      <h5><%= current_user.name %></h5>
      <p><%= current_user.email %></p>
      <% unless current_user.image.nil? %>
        <%= image_tag(current_user.image, size: '60x60')  %>
      <% end %>
    <% else %>
      <h5>there is no current_user</h5>
    <% end %>
    <%= yield %>
    <br/>
    <br/>
    <br/>
    <br/>
    <%= render "layouts/footer" %>
  </body>
</html>
